
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
.input {
    padding: 3rem;
    display:grid;grid-template-columns: 3fr 3fr 3fr;
    justify-content: center;
    align-items: center;
}
#center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
#even-pic{
    height: 200px;
}
#odd-pic{
    height: 220px;
    
}