header {
    background-color: #0bc3b1;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    background-color: darkslategray;
    padding: 30px;
}

h1 {
    font-weight:bolder;
    font-size: 3rem;
    box-shadow: 5px 5px 5px black;
}

footer {
    background-color: #000000;
    padding: 10px;
    color: white;
}
button {background-color: black;
color: white;
border-radius: 20px;}

input {
    background-color: black;
    color: white;
    border-radius: 30px;
}
.input {
    padding: 3rem;
    display:grid;
    grid-template-columns: 225px 200px 300px;
    justify-content: center;
    align-items: center;
}
.center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#even-pic{
    height: 200px;
}
#odd-pic{
    height: 220px;
    
}
.hidden {
    display: none;
}
.hidden2 {
    display: none;
}